C:\AI\hompage_project\simple_home_2\img

hompage_project/simple_home_3/imgFile/
hompage_project/simple_home_3/videoFile/

hompage_project\COSMAX_Responsive_clone\mediaFile
hompage_project\COSMAX_Responsive_clone_2\media
hompage_project\COSMAX_Responsive_clone_3\media


springboot