*{
  box-sizing: border-box;
  margin: 0;
}

.header{
  margin-top: 15px;
  width: 100%;
  background: lightblue;
  padding: 0px 15px 0px 15px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 135px;
}

.site-header{
  width: 100%;
  height: calc(135px * 0.7);
  background: lightcoral;
  display: flex;
  justify-content: space-between;
}

.site-header a{
  text-decoration: none;
  color: black;
}

.site-left, .site-right{
  width: 30%;
  display: flex;
  gap: 12px;
  margin: 0px 10px 0px 10px;
}

.site-right{
  justify-content: flex-end;
}

.site-right a{
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.login_logout span{
  color: black;
  opacity: 1;
  font-size: 14px;
}

.site-header .icon{
  font-size: 22px;
}

.logo img {
  width: 100px;
  height: auto;
}

/* =================================
네비게이션바
================================= */

.nav{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav ul{
  list-style: none;
  padding-left: 0;
}

.nav ul a{
  text-decoration: none;
  color: black;
}

.navigationBar{
  display: flex;
  width: 100%;
  height: calc(135px * 0.3);
  background:lightcyan;
  border-bottom: 1px solid black;
  gap: 5%;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
}

.navigationBar li{
  width: 10%;
  background: lightgoldenrodyellow;
}

.dropdown{
  display: flex;
  width: 100%;
  gap: 5%;
  justify-content: center;
  font-size: 16px;
}

.dropdown ul{
  width: 10%;
  background: lightgoldenrodyellow;
}


.hidden{
  opacity: 0;
  pointer-events: none;
}




/* 
.dropdown{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  background: lightgoldenrodyellow;
} */

