*{
  box-sizing: border-box;
  margin: 0;
}

.header a{
  text-decoration: none;
}
/* header ul 들여쓰기 및 기본 스타일 없애기 */
.header ul{
  padding-left: 0;
  list-style: none;
}

.header{
  top: 0px;
  padding: 15px 15px 0px 15px;

  width: 100%;
  height: 150px;

  background: lightblue;
  
  border-bottom: 1px solid black;

  display: flex;
  flex-direction: column;

  position: fixed;
  
  z-index: 25;
}


.site-header{
  width: 100%;
  height: calc(135px * 0.7);
  flex: 0 0 auto;
  background: lightcoral;
  display: flex;
  justify-content: space-between;
}

.site-header a{
  color: black;
}

.site-left, .site-right{
  width: 30%;
  display: flex;
  gap: 12px;
  margin: 0px 10px 0px 10px;
}

.site-right{
  justify-content: flex-end;
}

.site-right a{
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.login_logout span{
  color: black;
  opacity: 1;
  font-size: 14px;
}

.site-header .icon{
  font-size: 22px;
}

.logo img {
  width: 100px;
  height: auto;
}

/* =================================
네비게이션바
================================= */
.nav{
  width: 100%;
  height: calc(135px * 0.3);
  background: lightcyan;
}

.navigationBar{
  width: 100%;
  height: calc(135px * 0.3);
  background: lightgoldenrodyellow;
  display: flex;

  align-items: center;
  justify-content: center;

  border-bottom: 1px solid black;

  gap: 10px;
}

.navigationBar li{
  width: 120px;
  height: 100%;
  background: lightblue;

  font-size: 16px;
  font-weight: 600;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown{
  width: 510px;
  margin: 0 auto;
  background: lightcoral;
  display: flex;

  justify-content: center;
  gap: 10px;
}

.dropdown ul{
  width: 120px;
  background: lightblue;

  font-size: 16px;
}

.hidden{
  opacity: 0;
  pointer-events: none;
}

body{
  padding-top: 150px;
}