*{
  box-sizing: border-box;
}

.header{
  width: 100%;
  background: lightblue;
  padding: 15px;
}

.site-header{
  width: 100%;
  background: lightcoral;
  display: flex;
  justify-content: space-between;
}

.site-header a{
  text-decoration: none;
  color: black;
}

.site-left, .site-right{
  width: 30%;
  display: flex;
  gap: 12px;
  margin: 0px 10px 0px 10px;
}

.site-right{
  justify-content: flex-end;
}

.site-right a{
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_logout span{
  color: black;
  opacity: 1;
}

.site-header .icon{
  font-size: 22px;
}

.logo img {
  width: 100px;
  height: auto;
}