/* =============== 빈공간 및 배치 요소 =============== */
.news-wrapper{
  position: relative;

  width: 420px;
  height: 120px;
  background-color: bisque;

  display: flex;

  margin: 0 auto;
}

.news-wrapper ul{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  grid-auto-rows: 1fr;

  justify-content: center;
  align-items: start;

  padding: 0;
  margin-top: 15px;

  overflow: hidden;
}

.btn-all{
  position: absolute;
  right: 0;
  bottom: 0;

  width: 20px;
  height: 20px;
}

/* =============== 선택 요소들 =============== */
.news-wrapper li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.imgArea{
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 50%;

  overflow: hidden;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.news-wrapper p{
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.imgArea img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* =============== news hover 시 img area 확장 =============== */
.news-wrapper li:hover .imgArea{
  border-radius: 10%;
  transition: all .2s ease;
}


/* =============== newsCard =============== */
.newsPage{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  

  width: 80vh;
  height: 70vh;

  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  pointer-events: none;
}

.newsPage.active{
  opacity: 1;
  pointer-events: auto;
}

.newsPage img{
  width: 200px;
  height: 200px;
}

.btn-exit{
  position: absolute;
  top: 0;
  right: 0;
}

.btn-writing{
  position: fixed;
  bottom: 5%;
  right: 5%;

  width: 70px;
  height: 70px;

  border: 1px solid black;
  border-radius:50%;
}