.products{
  max-width: 1200px;
  padding: 10px;
  gap: 20px;
  
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);

  justify-content: center;
  margin: 0 auto;
}

.products_card{
  width: 240px;
  height: 360px;

  text-align: center;

  border: 1px solid black;
  border-radius: 10px;
  display: none;
}

.products_card img{
  width: 200px;
  height: 250px;
}

.products_card a{
  text-decoration: none;
  color: black;
}

.products_card h3{
  font-weight: 700;
}

.products_card p{
  font-size: 16px;
}