footer{
  background-color: #f3f0ed;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.footerArea{
  width: 92%;
  height: 100%;

  display: flex;

  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
}


/* ======================== textArea, cricleArea ======================= */
.footerArea .textArea{
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footerArea .cricleArea{
  margin-left: 3rem;
  position: relative;
  width: 50%;
  height: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* ----------------------- textArea 세부사항 ------------------------ */
.footerArea .textArea .bottomArea{
  display: grid;
  grid-template-columns: 60% 40%;
}

.footerArea .textArea .bottomArea .privacyPolicyArea {
  grid-column: 1/2;
  width: 100%;
}
.footerArea .textArea .bottomArea .goIconArea{
  grid-column: 2/3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footerArea .textArea .desginLineshowLength{
  position: absolute;
  top: 0;
  right: 0;
  
  height: 100%;
  width: 1px;
  background-color: black;
}

.footerArea .textArea .desginLineshowWidth{
  display: none;
  top: 0;
  right: 0;

  margin-top: 1rem;
  margin-bottom: 1rem;
  
  height: 1px;
  width: 100%;
  background-color: black;
}
/* ----------------------- font 개인 설정 ------------------------ */
.footerArea .textArea h2{
  font-size: 3rem;
  font-weight: 400;
}

.footerArea .textArea .privacyPolicyArea p{
  font-size: 0.7rem;
  font-weight: 400;
}

.footerArea .textArea .privacyPolicyArea p:nth-of-type(2){
  margin-top: 1.2rem;
  text-decoration: underline;
}


.footerArea .textArea .bottomArea .goIconArea .iconArea{
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
.footerArea .textArea .bottomArea .goIconArea p{
  font-size: 1.2rem;
  font-weight: 400;
}
.footerArea .textArea .bottomArea .goIconArea a{
  color: black;
  gap: 10%;
  font-size: 1.5rem;
  text-decoration: none;
}

/* ----------------------- cricleArea 세부사항 ------------------------ */
.footerArea .cricleArea .cricleArea-wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
}

.footerArea .cricleArea .desginCricle{
  position: absolute;
  width: 50%;
  top: 50%;
}

.footerArea .desginCricle svg{
  width: 100%;
  display: block;
}

.footerArea .desginCricle circle{
  fill: none;
  stroke: black;
  stroke-width: 0.5;
}

.footerArea .cricleArea .desginCricle:nth-of-type(1){left: 0%}
.footerArea .cricleArea .desginCricle:nth-of-type(2){left: 39%}
.footerArea .cricleArea .desginCricle:nth-of-type(3){left: 80%}


@media screen and (max-width: 780px){
  .footerArea .cricleArea{display: none;}
  .footerArea .textArea{width: 100%;}
  
  .footerArea .textArea .bottomArea{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .footerArea .textArea .bottomArea .privacyPolicyArea{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footerArea .textArea .bottomArea .goIconArea{
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footerArea .textArea .desginLineshowLength{display: none;}
  .footerArea .textArea .desginLineshowWidth{display: block;}
}
