/* ========================================================
-------------------------- header -------------------------
======================================================== */
header{
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: lightblue;
  display: flex;
  align-items: center;

  z-index: 90;
  transition: transform 0.3s ease;
  /* transform: translateY(); */
}

header:not(.open).hidden{
  transform: translateY(-100%);
}

header .header_wrapper{
  width: 100%;
  height: 100%;
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
}



/* ========================================================
----------------------- headerNav_bar ---------------------
======================================================== */
header .headerNav_bar{
  width: 100%;
  height: 100%;
  padding: 15px;
  /* background-color: lightblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============ header_icon ============ */
header .header_icon{
  z-index: 95;
  position: relative;
}

header .leftIconArea{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 90%;
}

header .iconArea{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}

/* ------- header_icon 상세 설정 ------- */
header .iconArea a{
  font-size: 2.2rem;
  color: black;
}


/* ============ btnArea ============ */
header .btnArea{
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 95;
}

/* ------- btnArea 상세 설정 상담하기 ------- */
header .btn_consult{
  position: relative;
  width: 100px;
  height: 25px;
  border-radius: 12.5px;
  border: 1px solid black;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

header .btn_consult .cricle{
  position: absolute;
  top: 25px;
  width: 125px;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 50%;
  transition: top 0.3s ease;
}

header .btn_consult .text1{
  position: absolute;
  top: 0;
  width: 100px;
  height: 25px;
  transition: top 0.3s ease;
}

header .btn_consult .text2{
  position: absolute;
  top: 25px;
  width: 100%;
  height: 25px;
  transition: top 0.3s ease;
  color: white;
}

header .btn_consult:hover .cricle{
  top: -100%;
}

header .btn_consult:hover .text1{
  top: -100%;
}
header .btn_consult:hover .text2{
  top: 5px;
}

/* ------- btnArea 상세 설정 openNavPage ------- */
header .btn_openNav{
  width: 25px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  transition: scale .3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}

header .btn_openNav:not(.true):hover{
  scale: 1.5;
}

header .btn_openNav .cricle{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: black;
  scale: 0;
  transition: scale 0.3s ease;
}

header .btn_openNav.true .cricle{
  scale: 1;
}

/* ========================================================
--------------------- headerNav_bar page ------------------
======================================================== */
header .aNavBarPage{
  display: none;

  position: fixed;
  inset: 0;
  /* z-index: -1; */
  background-color: white;
}

header.aNavPageOpen .aNavBarPage{
  display: block;
}

/* -------- navgation bar textArea만기본적인 세팅 -------- */
header .textArea ul{
  display: flex;
  flex-direction: column;
}
header .textArea li{
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 3%;
}
header .textArea a{
  text-decoration: none;
}
header .textArea h5{
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
header .textArea h6{
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
header .textArea p{
  color: black;
  font-size: 0.9rem;
}

/* ========= 언어선택 ========= */
header .languageArea_wrapper{
  width: 100%;
  height: 10%;
  /* background-color: aliceblue; */
}

header .languageArea_wrapper .languageArea{
  width: 100%;
  height: 100%;

  padding-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1%;
}
/* -------- language 기본 설정 -------- */
header .languageArea_wrapper .languageArea > li{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  /* background-color: rebeccapurple; */
  cursor: pointer;
}

header .languageArea_wrapper .languageArea .nav_language p{
  color: black;
  font-size: 1.1rem;
  margin: 0;
}

header .languageArea_wrapper .languageArea .desginHoverLine{
  width: 100%;
  height: 1px;
  background-color: black;
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header .languageArea_wrapper .languageArea .nav_language:hover .desginHoverLine{
  transform: scaleX(1);
}

/* ========= a link navgation bar area ========= */
.textArea{
  width: 100%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
}

/* ========= 외부 아이콘 link ========= */
.leftIconArea{
  width: 20%;
  height: 100%;
  /* background-color: lightcoral; */
}

/* ========= 내부 link ========= */
.navBar_wrapper{
  width: 80%;
  height: 100%;
  /* background-color: lightblue; */
  display: flex;
}

/* ========= 1번째 ========= */
.firstNavBar{
  width: 45%;
  height: fit-content;
  /* background-color: lightpink; */
}

.firstNavBar li{
  transition: opacity 0.3s ease;
}

.firstNavBar:hover > :not(:hover){
  opacity: 0.1;
}

/* ========= 2번째 ========= */

header .secondNavBar{
  position: relative;
  width: 45%;
  height: 100%;
  /* background-color: lightsalmon; */
}

header .secondNavBar ul{
  position: absolute;
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

header .secondNavBar ul.secondOpen{
  opacity: 1;
  transform: translateX(0px);
}

header .secondNavBar .btn_back{
  display: none;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  text-align: left;
}


@media screen and (max-width: 780px){
  header .btn_consult{ display: none;}
  header .btnArea{justify-content: flex-end;}
  
}