.testArea1{
  width: 100%;
  height: 500px;
  background-color: lightblue;
}
.testArea2{
  width: 100%;
  height: 2000px;
  background-color: lightblue;
}

/* ========================================================
------------------------ 기본 세팅 ------------------------
======================================================== */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Pretendard', sans-serif;
  font-weight: 200;
  word-break:keep-all;
  overflow-wrap: normal;
}

:root {
  --fs_h1 : 1rem;
  --fs_h2 : clamp(3.2rem, 2.2rem + 2.8vw, 6.4rem);
  --fs_h3 : clamp(3.2rem, 2.2rem + 2.8vw, 6.4rem);
  --fs_h3_miniTitle:clamp(1.5rem, 1.2rem + 0.5vw, 1.8rem);
  --fs_h4 : 1rem;
  --fs_h5 : 1rem;
  --fs_h6 : 1rem;
  --fs_p_large : clamp(1.3rem, 0.9rem + 1.14vw, 1.5rem);
  --fs_p_normal : clamp(1.1rem, 1.06rem + 0.15vw, 1.2rem);

  --wrapperTopPadding: 50px
}


/* =================== font style 설정 =================== */
h2{
  font-size: var(--fs_h2);
  font-weight: 300;
    color: white;
}
h3{font-size: var(--fs_h3);}
h4{font-size: var(--fs_h4);}
h5{font-size: var(--fs_h5);}
h6{font-size: var(--fs_h6);}

h3.miniTitle{
  font-size: var(--fs_h3_miniTitle);
  font-weight: 400;
  letter-spacing: 1px;
}

p.fsLarge{
  font-size: var(--fs_p_large);
  /* letter-spacing: 1px; */
}
p.fsNormal{
  font-size: var(--fs_p_normal);
  letter-spacing: 1px;
}

p.fsArrowIcon{
  font-weight: 600;
  white-space: nowrap;
  margin: 0;
}
p.caption{
  font-size: var(--fs_p_normal);
  font-weight: 400;
}

/* =================== 여백및 공간관리 =================== */
.bottomGap{margin-bottom: var(--fs_h3);}
.topGap{margin-top: var(--fs_h3);}

.wrapper{
  position: relative;
  padding: var(--wrapperTopPadding) 15px var(--wrapperTopPadding) 15px;

  border: 1px solid red;
  overflow: hidden;
}

.area{
  padding: 0 15px;
}

.heroBanner{
  position: relative;
  width: 100%;
  height: 100vh;
}




/* ========================================================
--------------------------- svg ---------------------------
======================================================== */

/* ========== 애니메이션 없는 일반 desginLineY =========== */
.desginLineY{
  position: absolute; 
  width: 2px;
  height: 100%;
  top: 0;

  display: block;
  transform-box: fill-box;
}
.desginLineY line{
  stroke:black;
  stroke-width:1;
}
/* ========== 애니메이션 없는 일반 desginLineX =========== */
.desginLineX{
  /* position: absolute;  */
  width: 100%;
  height: 2px;
  left: 0;

  display: block;
  transform-box: fill-box;
}
.desginLineX line{
  stroke:black;
  stroke-width:1;
}
/* ================== animationLineY ==================== */
.animationLineY{
  position: absolute; 
  width: 2px;
  height: 100%;
  top: 0;

  display: block;
  transform-box: fill-box;
}
.animationLineY line{
  stroke:black;
  stroke-width:1;
}

/* ================== animationLineX =================== */
.animationLineX{
  position: absolute; 
  width: 100%;
  height: 2px;
  left: 0;

  display: block;
  transform-box: fill-box;
}
.animationLineX line{
  stroke:black;
  stroke-width:1;
}

/* ============= animationHalfCircleBottom ============= */
.animationHalfCircleBottom{
  /* position: relative; */
  width: 100%;
  overflow: hidden;
}
.animationHalfCircleBottom circle{
  fill: none;
  stroke:black;
  stroke-width:0.5;
  /* top: -50%; */
}

/* ============== animationHalfCircleTop =============== */
.animationHalfCircleTop{
  /* position: relative; */
  width: 100%;
  overflow: hidden;
}
.animationHalfCircleTop circle{
  fill: none;
  stroke:white;
  stroke-width:0.5;
  /* top: -50%; */
}

/* ===================== arrowIcon ===================== */
.arrowIcon{
  margin-top: 1rem;
  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  cursor:pointer;
}
.arrowIcon svg{
  width:120px;
  height:60px;
  transition: transform 0.5s ease;
  margin-left: 5px;
  transform-origin: left;
  scale: 0.7;
}
.arrowIcon line{
  stroke:#000;
  stroke-width:1;
  fill:none;
  transition: stroke 0.2s ease;
}
.arrowIcon circle{
  stroke:#000;
  stroke-width:1;
  fill: #000;
  transform-origin: center;
  transition: transform 0.5s ease;
}

.arrowIcon:hover svg{transform: translateX(8px);}
.arrowIcon:hover circle{transform: translateX(110px) scale(2);}
.arrowIcon:hover .arrowHead{
  transition-delay: 0.3s;
  stroke: white;
}

/* =============== desginAnimationCircle =============== */
.desginAnimationCircle{
  position: relative;
  align-self: stretch;

  display: flex;
  align-items: center;
  overflow: hidden;
}
.desginAnimationCircle svg{
  height: 100%;
  
  width: auto;
  display: block;
}

.desginAnimationCircle.left{justify-self: end;}
.desginAnimationCircle.left svg{
  transform: translateX(calc(50% + -40px));
}
.desginAnimationCircle.right{justify-self: start}
.desginAnimationCircle.right svg{
  transform: translateX(calc(-50% + 40px));
}

.desginAnimationCircle .baseCircle{
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  transform-box: fill-box;
  transform-origin: center;
  stroke-linecap: butt;
}
.desginAnimationCircle .orbitDot{
  opacity: 0;
}
.circleA{transform: rotate(0);}
.circle{transform: rotate(-90deg);}



/* ================= desginAnimationArea ================= */
.desginAnimationArea svg{
  width: 100%;
  height: auto;
}

.desginAnimationArea .svg-circle{
  fill: none;
  stroke: black;
  stroke-width: 1;
  opacity: 0;
  transition: opacity .5s ease;
}
.desginAnimationArea .svg-circle.show{
  opacity: 1;
}
.desginAnimationArea #movingCircle{
  transform: rotate(-90deg);
  transform-origin: center;
  transform-box: fill-box;
}
.desginAnimationArea .moving-circle{
  fill: none;
  stroke: black;
  stroke-width: 1;

  stroke-dasharray: 628;
  stroke-dashoffset: 628; /* ← 완전히 숨김 */
}
.desginAnimationArea .moving-circle.transition{  
  transition: 
  stroke-dashoffset 1s linear,
  transform 1s ease;
}

.desginAnimationArea .circle-text{
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  fill: darkblue;
  opacity: 0;
  transition: opacity .5s ease;
}
.desginAnimationArea .circle-text.show{
  opacity: 1;
}

.desginAnimationArea .top-line, .desginAnimationArea .bottom-line {
  stroke-width: 2;
}
/* ----- top line area ----- */
.desginAnimationArea .top-line{
  stroke: black;
}
.desginAnimationArea .brand-circle{}
.desginAnimationArea .brand-text{
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  fill: white;
}
.desginAnimationArea .top-dot{}

/* ----- bottom line area ----- */
.desginAnimationArea .bottom-line{
  stroke: burlywood;
}
.desginAnimationArea .product-circle{
  stroke: burlywood;
  fill: burlywood;
}
.desginAnimationArea .product-text{
  font-family: 'Pretendard', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  fill: black;
}
.desginAnimationArea .bottom-dot{
  fill: burlywood;
}

/* 공용 라인 */
.desginAnimationArea .beige-ring{
  fill: none;
  stroke: burlywood;
  stroke-width: 1;
  opacity: 0;
  transition: opacity 1s ease;
}
.desginAnimationArea .beige-ring.show{
  opacity: 1;
}
.desginAnimationArea .lineAnimation{
  transition: 
  transform 1s ease,
  opacity 1s ease;
}
.desginAnimationArea .lineShow{
  transform: translateY(0);
  opacity: 1;
}
.desginAnimationArea .lineHidden{
  transform: translateY(50px);
  opacity: 0;
}

/* ================ horizontalCardScroll =============== */
.horizontalCardScroll{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.horizontalCardScroll .desginLineY{ display: none;}

.horizontalCardScroll .title{position: absolute;}
.horizontalCardScroll .scrollTrack{
  position: relative;
  padding: 10% 1040px;
  display: flex;
}

.horizontalCardScroll .card{
  position: relative;
  list-style: none;
  flex-shrink: 0;
  width: 1040px;
  height: auto;
  padding: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/* card 내부 공통 설정 */
.horizontalCardScroll .imgCover{
  grid-column: 1/2;
  grid-row: 1/2;
  width: 320px;
  height: 420px;
  overflow: hidden;
  z-index: 1;
}
.horizontalCardScroll .imgCover img{
  width: 100%;
  object-fit: cover;
}

.horizontalCardScroll .text{
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.horizontalCardScroll .pointCircle{
  margin-top: 50px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
}
.horizontalCardScroll .animationLineX{
  margin-top: 155px;
}
.horizontalCardScroll .scrollTrack h3{font-weight: 500;}
.horizontalCardScroll p{}
@media screen and (max-width: 768px){
  .horizontalCardScroll{
    height: auto;
    padding: 15px 0;
  }
  .horizontalCardScroll .desginLineY{
    display: block;
    left: 15px;
    top: calc(15px + var(--fs_h3) + 25px + 15px);
    height: calc(100% - (15px + var(--fs_h3) + 25px + 15px + 30px));
  }

  .horizontalCardScroll .title{
    padding: 0 30px;
    position: relative;
  }
  .horizontalCardScroll .scrollTrack{
    padding: 0;
    flex-direction: column;
  }

  .horizontalCardScroll .card{
    padding: 15px 15px 15px 45px;
    width: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }

  .horizontalCardScroll .imgCover{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    padding: 25px 0;
  }
  .horizontalCardScroll .imgCover img{}

  .horizontalCardScroll .text{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .horizontalCardScroll .pointCircle{
    margin-top: calc(var(--fs_h3_miniTitle) / 2);
    transform: translateX(-34.5px);
    position: absolute;
  }
  .horizontalCardScroll .animationLineX{display: none;}
  .horizontalCardScroll .scrollTrack h3{font-size: var(--fs_h3_miniTitle);}
  .horizontalCardScroll p{}
}