.testArea1{
  width: 100%;
  height: 500px;
  background-color: lightblue;
}
.testArea2{
  width: 100%;
  height: 2000px;
  background-color: lightblue;
}

/* ========================================================
------------------------ 기본 세팅 ------------------------
======================================================== */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Pretendard', sans-serif;
  font-weight: 200;
  word-break:keep-all;
  overflow-wrap: normal;
}

:root {
  --fs_h1 : 1rem;
  --fs_h2 : clamp(3.2rem, 2.2rem + 2.8vw, 6.4rem);
  --fs_h3 : clamp(3.2rem, 2.2rem + 2.8vw, 6.4rem);
  --fs_h4 : 1rem;
  --fs_h5 : 1rem;
  --fs_h6 : 1rem;
  --fs_p_large : clamp(1.3rem, 0.9rem + 1.14vw, 1.5rem);
  --fs_p_normal : clamp(1.1rem, 1.06rem + 0.15vw, 1.2rem);

  --wrapperTopPadding: 50px
}


/* =================== font style 설정 =================== */
h2{
  font-size: var(--fs_h2);
  font-weight: 300;
    color: white;
}
h3{font-size: var(--fs_h3);}
h4{font-size: var(--fs_h4);}
h5{font-size: var(--fs_h5);}
h6{font-size: var(--fs_h6);}
p.fsLarge{
  font-size: var(--fs_p_large);
  /* letter-spacing: 1px; */
}
p.fsNormal{
  font-size: var(--fs_p_normal);
  letter-spacing: 1px;
}
p.fsArrowIcon{
  font-weight: 600;
  white-space: nowrap;
  margin: 0;
}
p.caption{
  font-size: var(--fs_p_normal);
  font-weight: 400;
}

/* =================== 여백및 공간관리 =================== */
.bottomGap{margin-bottom: var(--fs_h3);}
.topGap{margin-top: var(--fs_h3);}

.wrapper{
  position: relative;
  padding: var(--wrapperTopPadding) 15px var(--wrapperTopPadding) 15px;

  border: 1px solid red;
  overflow: hidden;
}

.area{
  padding: 0 15px;
}

.heroBanner{
  position: relative;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}




/* ========================================================
--------------------------- svg ---------------------------
======================================================== */

/* ========== 애니메이션 없는 일반 desginLineY =========== */
.desginLineY{
  position: absolute; 
  width: 2px;
  height: 100%;
  top: 0;

  display: block;
  transform-box: fill-box;
}
.desginLineY line{
  stroke:black;
  stroke-width:1;
}
/* ========== 애니메이션 없는 일반 desginLineX =========== */
.desginLineX{
  /* position: absolute;  */
  width: 100%;
  height: 2px;
  left: 0;

  display: block;
  transform-box: fill-box;
}
.desginLineX line{
  stroke:black;
  stroke-width:1;
}
/* ================== animationLineY ==================== */
.animationLineY{
  position: absolute; 
  width: 2px;
  height: 100%;
  top: 0;

  display: block;
  transform-box: fill-box;
}
.animationLineY line{
  stroke:black;
  stroke-width:1;
}

/* ============= animationHalfCircleBottom ============= */
.animationHalfCircleBottom{
  /* position: relative; */
  width: 100%;
  overflow: hidden;
}
.animationHalfCircleBottom circle{
  fill: none;
  stroke:black;
  stroke-width:0.5;
  /* top: -50%; */
}

/* ============== animationHalfCircleTop =============== */
.animationHalfCircleTop{
  /* position: relative; */
  width: 100%;
  overflow: hidden;
}
.animationHalfCircleTop circle{
  fill: none;
  stroke:white;
  stroke-width:0.5;
  /* top: -50%; */
}

/* ===================== arrowIcon ===================== */
.arrowIcon{
  margin-top: 1rem;
  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  cursor:pointer;
}
.arrowIcon svg{
  width:120px;
  height:60px;
  transition: transform 0.5s ease;
  margin-left: 5px;
  transform-origin: left;
  scale: 0.7;
}
.arrowIcon line{
  stroke:#000;
  stroke-width:1;
  fill:none;
  transition: stroke 0.2s ease;
}
.arrowIcon circle{
  stroke:#000;
  stroke-width:1;
  fill: #000;
  transform-origin: center;
  transition: transform 0.5s ease;
}

.arrowIcon:hover svg{transform: translateX(8px);}
.arrowIcon:hover circle{transform: translateX(110px) scale(2);}
.arrowIcon:hover .arrowHead{
  transition-delay: 0.3s;
  stroke: white;
}

/* =============== desginAnimationCricle =============== */
.desginAnimationCricle{
  align-self: stretch;

  display: flex;
  align-items: center;
  overflow: hidden;
}
.desginAnimationCricle svg{
  height: 100%;
  
  width: auto;
  display: block;
}

.desginAnimationCricle.left{justify-self: end;}
.desginAnimationCricle.left svg{
  transform: translateX(calc(50% + -40px));
}
.desginAnimationCricle.right{justify-self: start}
.desginAnimationCricle.right svg{
  transform: translateX(calc(-50% + 40px)     );
}

.desginAnimationCricle .baseCircle{
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  transform-box: fill-box;
  transform-origin: center;
  stroke-linecap: butt;
}
.desginAnimationCricle .orbitDot{
  opacity: 0;
}
.circleA{transform: rotate(0);}
.circle{transform: rotate(-90deg);}



/* 원 애니메이션 */
/* .main4 .desginArea{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main4 .desginArea svg{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: left;
  scale: 2;
}
.main4 .desginArea circle{
  fill: none;
  stroke: black;
  stroke-width: 0.5;
  stroke-dasharray: 628;
  stroke-dashoffset: 628;
}

.main4 circle.circle-a{
  transform-origin: 150px 150px;
}
.main4 circle.circle-b{
  transform-origin: 300px 150px;
  transform: rotate(60deg);
}
.main4 .animate{
  animation: draw 1.5s ease-out forwards;
}
 */





/* ================== animationLineX =================== */

/* ================ animationCircle ================ */