.main1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
}

.title{
  grid-column: 1/2;
  grid-row: 1/2;
}
.text{
  grid-column: 2/3;
  grid-row: 2/3;
}
.video{
  grid-column: 1/-1;
  grid-row: 3/4;
}

.desginLineY.line1{
  grid-column: 1/2;
  grid-row: 2/4;
  left: 15px;
}
.desginLineY.line2{
  grid-column: 2/3;
  grid-row: 2/4;
  right: 15px;
}