* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  background :white;
}
/* 최상단 */
.top-view{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px 40px;;
}
/* 최상단 좌우 아이콘 찾기, 찜, 마이페이지, 장바구니 */
.nav-left, .nav-right{
  display: flex;
  gap: 15px;
}
/* 최상단 아이콘 찾기, 찜, 마이페이지, 장바구니, 로고 */
.top-view .icon{
  font-size: 22px;
  cursor: pointer;
}
/* 최상단 아이콘 로고 */
.logo{ 
  position: absolute;
  width: 100px;
  height: 60px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.logo img{
  width: 80%;
  height: auto;
  display: block;
}

.top-view .logo .icon{
  font-size: 50px;
}

/* 상단 navigation */
nav>ul{
  display: flex;
  justify-content: center;
  gap: 60px;
}
/* menu bar 안에 ul tag 전부 설정 */
nav ul{
  list-style: none
}
/* menu bar 안에 a tag 전부 설정 */
nav ul a{
  text-decoration: none;
  color: black;
}

.menubar{
  position: relative;
}

.products-dropdown, .about-dropdown, .membership-dropdown{
  display: flex;
  position: absolute;
  top: 100%;
  left: 20px;
}

.products-sidebar , .about-sidebar, .membership-sidebar{
  width: 280px;
  height: 280px;
  background: white;
  display: none;
  border: 1px solid black;
}

.products-gift-details, .products-bestseller-details
, .about-brand_story-details, .about-brand_message-details, .about-brand_commitment-details
, .membership_info-details, .membership_benefits-details{
  background: white;
  position: absolute;
  left: 280px;
  width: 740px;
  display:block;
  padding: 20px;
  min-width: 400px;
}

.about-img img, .membership-img img{
  width: 80px;
  height: 80px;
}

.products:hover .products-sidebar
, .about:hover .about-sidebar
,.membership:hover .membership-sidebar{
  display: block;
}




body{
  background:#cbcbcb;
}