* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid black;
  background :white;
  z-index: 1;
}
/* 최상단 */
.top-view{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px 40px;;
}
/* 최상단 좌우 아이콘 찾기, 찜, 마이페이지, 장바구니 */
.nav-left, .nav-right{
  display: flex;
  gap: 15px;
}
/* 최상단 아이콘 찾기, 찜, 마이페이지, 장바구니, 로고 */
.top-view .icon{
  font-size: 22px;
  cursor: pointer;
}
/* 최상단 아이콘 로고 */
.logo{ 
  position: absolute;
  width: 100px;
  height: 60px;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
.logo img{
  width: 80%;
  height: auto;
  display: block;
}

.top-view .logo .icon{
  font-size: 50px;
}

.top_bar {
  display: flex;
  justify-content: center;
  position: relative;
  font-weight: 500;;
  letter-spacing: 2px;
  gap: 50px;
}

nav ul{
  list-style: none
}

nav ul a{
  text-decoration: none;
  color: black;
}

.nav {
  position: relative;
}

.dropdown {
  top: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  max-width: 1400px;
  min-width: 600px;
  height: 300px;
  border: 1px solid black;
  box-shadow: 0 3px 4px gray;
  justify-content: space-between;
  background: white;
  display: none;
}

.sidebar{
  position: relative;
  width: 35%;
  padding: 20px;
  border-right: 1px solid black;

}

.details{
  position: relative;
  width: 65%;
  padding: 20px;
}

.side, .detail {
  position: absolute;
}
