* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 최상단 */
.top-view{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px 40px;;
}

/* 최상단 좌우 아이콘 찾기, 찜, 마이페이지, 장바구니 */
.nav-left, .nav-right{
  display: flex;
  gap: 15px;
}

/* 최상단 아이콘 찾기, 찜, 마이페이지, 장바구니, 로고 */
.top-view .icon{
  font-size: 22px;
  cursor: pointer;
}

/* 최상단 아이콘 로고 */
.logo{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-view .logo .icon{
  font-size: 50px;
}

header:hover{
  background-color: white;
}

.header-line{
  border-bottom: 1px solid black;
}


/* 상단 navigation */
.navigation .top-bar{
  display: flex;
  justify-content: center;
  gap: 50px;
  list-style: none;
  padding: 10px 0 10px;
}

.products-menu {
  position: fixed; 
  top: 125px;   
  left: 50;      
  width: 200px; 
  height: 300px;
  background: white;
  list-style: none;
  padding: 20px;
  margin: 0;

  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
  transition: all 0.25s ease;
}

.products:hover .products-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.about-menu {
  position: fixed; 
  top: 125px;   
  left: 50;      
  width: 200px; 
  height: 300px;
  background: white;
  list-style: none;
  padding: 20px;
  margin: 0;

  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
  transition: all 0.25s ease;
}

/* hover 시 표시 */
.about:hover .about-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.membership-menu {
  position: fixed; 
  top: 125px;   
  left: 50;      
  width: 200px; 
  height: 300px;
  background: white;
  list-style: none;
  padding: 20px;
  margin: 0;

  opacity: 0;
  transform: translateY(-30px);
  pointer-events: none;
  transition: all 0.25s ease;
}

/* hover 시 표시 */
.membership:hover .membership-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}



body{
  background: url(../simple_home/background.png);
}