/* main 화면 구성  */
main {
  margin-top: 130px;
}

/* =================================
메인 화면 이미지 3개 slider
================================= */
.slider-wrapper{
  position: relative;
  width: 100%;
  aspect-ratio: 16/5;
  background: lightblue;
  overflow: hidden;
}

.slider{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide{
  flex: 0 0 100%;
  height: 100%;
}

.slider-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dots{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background: lightgray;
  cursor: pointer;
}

.dot.active{
  background: black;
}

/* =================================
이미지 3개 아래 slider 상품 정렬 메뉴 
================================= */
.menu-wrapper{
  margin-top: 60px;
  position: relative;
  width: 700px;
  height: 150px;
  background: lightblue;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrapper button{
  position: relative;
  width: 110px;
  height: 80px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.menu-wrapper button:not(:last-child){
  border-right: 1px solid black;
}

/* =================================
img track 6개 중 4개 출력 이동
================================= */
.track-wrapper{
  margin-top: 60px;
  position: relative;
  background: lightblue;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: calc(240px*4 + 20px*3 + 50px*2)
}

.track-category{
  width: 100%;
  height: 100px;
  background: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.track-category button{
  width: 140px;
  height: 60px;
  background: none;
  border: 1PX solid black;
  cursor: pointer;
  font-weight: 500;
}

.carousel-view{
  display: flex;
}

.arrow-left, .arrow-right{
  width: 50px;
  height: 260px;
  background: lightgoldenrodyellow;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  width: 40px;
  height: 40px;
  font-weight: 1000;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow.disable{
  display: none;
}

.carousel-track{
  width: calc(240px*4 + 20px*3);
  height: 260px;
  background: black;
  overflow: hidden;
}

.img-track{
  width: calc(240px*6);
  height: 260px;
  background: lightcoral;
  display: flex;
  align-items: center;
  gap: 20px;
}

.img-track img{
  width: 240px;
  height: 240px;
}

.carousel-progress{
  width: 100%;
  height: 30px;
  background: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-background{
  width: calc(240px*4 + 20px*3);
  height: 4px;
  background: lightgray;
  border-radius: 2px;
}

.progress-bar{
  width: calc((240px*4 + 20px*3)*(4/6));
  height: 4px;
  background: gray;
  border-radius: 2px;
}

/* =================================
video 및 설명
================================= */
.visual-wrapper{
  position: relative;
  margin-top: 60px;
  width: 100%;  
  aspect-ratio: 3/1;
  background: lightcoral;
}

.visual-inner{
  width: 100%;
  height: 100%;
}

.visual-media{
  position: absolute;
  width: 50%;
  height: 80%;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 1;
}

.visual-media video{
  width: 100%;
  height: 100%;
}

.story{
  position: absolute;
  width: 70%;
  height: 80%;
  right: 0;
  top: 0;
  background: black;
  display: flex;
  align-items: center;
}

.text-box{
  max-width: 600px;
  margin-left: 30%;
}
.story p{
  color: white;
  letter-spacing: .3px;
  line-height: 2;
  font-size: 18px;
  text-align: center;
}

/* =================================
news card 형식 이미지 출력
================================= */
.newscard-wrapper{
  position: relative;
  margin-top: 60px;
  background: lightblue;
  width: 100%;
  aspect-ratio: 3/1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.news-card{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  gap: 5%;
  background: lightgreen;
}

.card{
  flex: 0 0 auto;
  width: 20%;
  aspect-ratio: 3/4;
  background: lightcoral;
  border: 1px solid black;
}

.card.main_card{
  width: 22%;
  aspect-ratio: 3/4;
  background: lightgoldenrodyellow;
  border: 1px solid black;
}

.card-bottom{
  width: 100%;
  height: 10%;
  background: lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.card-all{
  background: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 14px;
}

.card-button{
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

body{
  background: rgb(190, 65, 65);
  overflow-x: hidden;
}

