/* main 화면 구성  */
main {
  padding-top: 130px;
}

/* slider */
.slider-wrapper{
  position: relative;
  width: 100%;
  aspect-ratio: 16/5;
  background: lightblue;
  overflow: hidden;
}

.slider{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide{
  flex: 0 0 100%;
  height: 100%;
}

.slider-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.dots{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dot{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background: lightgray;
  cursor: pointer;
}

.dot.active{
  background: black;
}

.menu-wrapper{
  
}











body{
  background: black;
}

