/* ========================================================
---------------------- header 상단 bar --------------------
======================================================== */
header{
  overflow: hidden;
  z-index: 30;
  position: relative;
  width: 100%;
  height: 150px;
  
  --headerBarHeight: 80px
}
header .headerBar{
  position: fixed;
  width: 100%;
  height: var(--headerBarHeight);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  transition: transform 0.5s ease;
  z-index: 35;
  background-color: rebeccapurple;
}

header .logoArea{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .btnArea{
  width: 27%;
  height: 100%;
  padding: 2%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  --btnOpenConsultationWidth: 120px;
  --btnOpenConsultationheight: 30px;
}

header .btnOpenConsultation{
  position: relative;
  width: var(--btnOpenConsultationWidth);
  height: var(--btnOpenConsultationheight);
  border-radius: 15px;
  border: 1px solid black;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  cursor: pointer;
}
header .hoverCricle{
  position: absolute;
  top: var(--btnOpenConsultationheight);
  /* top: calc(var(--btnOpenConsultationheight) *-1 ); */
  width: calc( var(--btnOpenConsultationWidth) * 2);
  aspect-ratio: 1/1;

  background-color: black;
  border-radius: 50%;
  border: none;
  transition: top 0.3s ease;
}
header .openConsultationtext{
  position: absolute;
  width: var(--btnOpenConsultationWidth);
  height: var(--btnOpenConsultationheight);

  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: top 0.3s ease;
}
header .btnOpenConsultation .openConsultationtext.first{
  top: 0;
}
header .btnOpenConsultation .openConsultationtext.second{
  top: var(--btnOpenConsultationheight);
  color: white;
}

header .btnOpenNavgationPage{
  height: var(--btnOpenConsultationheight);
  aspect-ratio: 1/1;

  border-radius: 50%;
  border: 1px solid black;
  background-color: white;

  cursor: pointer;

  transform-origin: center;
  transition: scale 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;
}
header .clickCricle{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;

  background-color: black;
  transform: scale(0);
  transition: transform 0.3s ease;
}

header .logoArea svg{
  width: 80%;
}
header .logoArea svg path{}


/* ====== headerBar 애니메이션 효과 ====== */
.headerBar.hidden{
  transform: translateY( calc(var(--headerBarHeight) * -1));
}

/* ====== 상담하기 애니메이션 효과 ====== */
header .btnOpenConsultation:hover .hoverCricle{
  top: calc(var(--btnOpenConsultationheight) *-1 );
}
header .btnOpenConsultation:hover .openConsultationtext.first{
  top: calc(var(--btnOpenConsultationheight) *-1 );
}
header .btnOpenConsultation:hover .openConsultationtext.second{
  top: 0
}

/* ====== nagationPage open button 애니메이션 효과 ====== */
header .btnOpenNavgationPage:not(.click):hover{
  scale: 1.4;
}
header .btnOpenNavgationPage.click .clickCricle{
  transform: scale(1);
}

@media screen and (max-width: 768px){
  header .headerBar{
    width: 100%;
  }
  header .logoArea{
    width: 50%;
  }
  header .btnArea{
    width: 20%;
  }
  header .btnOpenConsultation{
    display: none;
  }
}

/* ========================================================
------------------- header navgation page -----------------
======================================================== */
.navgationPage{
  position: fixed;
  inset: 0;
  background-color: white;
  padding-top: var(--headerBarHeight);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 0.5s ease;

  --pcAIconaWidth: 20%
}
.navgationPage.open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.navgationPage_wrapper{
  width: 100%;
  /* height: 100%; */
  position: relative;
  display: flex;
  flex-direction: column;
}

.languageArea{
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: var(--pcAIconaWidth);
  margin-bottom: 1rem;
}
.contentArea{
  display: grid;
  grid-template-columns: var(--pcAIconaWidth) 1fr;
  grid-template-rows: auto auto;
}

.aIconArea{
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 2rem;
  gap: 1rem;
}
.navgation_wraapper{
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  transition: transform 0.5s ease;
}

.navgationTitle{
  position: relative;
}
.navgationDetails{
  position: relative;
}

/* ========= languageArea 세부 세팅 ========= */
header .languageArea p{
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
}
header .languageArea .desginHoverLine{
  width: 100%;
  height: 1px;
  background-color: black;
  scale: 0;
  transition: scale 0.8s ease;
}
header .languageArea li{
  cursor: pointer;
}
header .languageArea li:hover .desginHoverLine{
  scale: 1;
}

/* ========= 개별 설정 ========= */
.navgationTitle li{
  cursor: pointer;
  /* border: 1px solid red; */
  display: flex;
}
.navgationTitle li a{
  margin-left: 5%;
  width: 70%;
  padding-bottom: 1rem;
}

.navgationDetails ul{
  position: absolute;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.navgationDetails ul.open{
  pointer-events: auto;
  opacity: 1;
}
.navgationDetails li{
  cursor: pointer;
  /* border: 1px solid rebeccapurple; */
  display: flex;
}
.navgationDetails li a{
  margin-left: 5%;
  width: 70%;
  padding-bottom: 1rem;
}

/* ========= desgin Line ========= */
header .desginLineMoveY{
  position: absolute; 
  width: 1px;
  height: 100%;
  top: 0;
  left: var(--pcAIconaWidth);
  display: block;
  transform-box: fill-box;
}
header .desginLineMoveY line{
  stroke:black;
  stroke-width:1;
}

/* ========= 글자 기본 세팅 ========= */
header .navgationPage ul{}
header .navgationPage li{
  list-style: none;
  margin: 0;
}
header .navgationPage a{
  color: black;
  text-decoration: none;
}
header .navgationPage p{
  color: black;
  font-weight: 300;
}
header .navgationPage h5,
header .navgationPage h6{
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 1.3rem;
}

.desginMoveATag{
  font-size: 1.8rem;
  display: none;
}
.btn_back{
  width: 100%;
  height: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;

  padding: 0;
  margin: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
.btn_back span{
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px){
  .navgationPage
  .navgationPage_wrapper{}

  .languageArea{
    margin-left: 0;
  }
  .contentArea{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .aIconArea{
    grid-column: 1/2;
    grid-row: 2/3;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .navgation_wraapper{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 100% 100%;
  }
  .navgation_wraapper.move{
    transform: translateX(-100%);
  }

  .navgationTitle{}
  .navgationDetails{}

  .navgationTitle a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navgationTitle p{display: none;}

  .navgationDetails a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navgationDetails p{display: none;}

  header .desginLineMoveY{
    left: 3%;
  }
  .desginMoveATag{display: block;}
  .btn_back{display: block;}
}
